<h2>Se logger sur Rubyflow.fr</h2>

<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login' %></p>

<p><small>Attention les logins sont sensibles à la casse. Veuillez utiliser exactement le même login que celui à l'inscription.</small></p>

<p><label for="password">Mot de passe</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Se souvenir de moi :</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log In' %></p>
<% end -%>
