/* @group RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}

/* @end */

/* @group Main */

body {
  margin: 0px 0px 20px 0px;
  text-align: left;
  font: normal 14px arial, sans-serif;
  line-height: 1.5em;
  color: #111;
  background-color: #fff;
}

h1, h2, h3, h4 {
  font-family: Helvetica, arial, sans-serif;
  font-weight: bold;
  margin: 8px 0px 14px 0px;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.9em; line-height: 1.35em; margin-top: 20px; margin-bottom: 0px;}
h3 {
  font-size: 1.2em;
  border-bottom: 1px solid rgb(255,21,13);
  width: 50%;
  padding-bottom: 0.5em;
  margin: 0 0 2em -1em;
}
h4 { font-size: 1.2em; }

body.homepage .post h2 {
  margin-bottom: 0px;
  font-size: 1.6em;
}

a {
  color: #2266bb;
}

a:hover {
  color: #ff0000;
}

p {
  margin: 16px 0px;
  text-align: justify;
  line-height: 1.5em;
}

ul, ol {
  padding-left: 1.9em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
  list-style-position: outside;
}

strong {
  font-weight: bold;
}

small {
   font-size: 0.8em;
}

em {
  font-style: italic;
}

a.home {
  text-decoration: none;
}

/* @end */

/* @group Blocks */

#content {
  padding-left: 0px;
  margin-top: 18px;
  /* float: left; */
}

.post {
	margin-bottom: 1.5em;
	padding-bottom: 4em;
	background: transparent url(../images/postbas.png) 50% 100% no-repeat;
}

.post a {
  font-weight: bold;
}

.entry {
  line-height: 1.5em;
  margin: 0;
}

#sidebar {
  font-size: 0.9em;
  line-height: 1.5em;
}

#page {
  position: relative;
  margin: 0px auto;
	width: 600px;
}

blockquote {
  background-color: #def;
  padding: 10px;
  margin: 2em 1em;
  position: relative;
}

code {
	font-family: "Liberation Mono", Monaco, "Courier New", monospace;
	font-size: 13px;
}

.date {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

body.inner .date {
  font-size: 14px;
  color: #999;
}

.leftright {
	height: 24px;
}

.leftright .left {
	float: left;
}

.leftright .right {
	float: right;
}

.leftright a {
  color: #888;
  font-family: verdana;
  font-size: 12px;
}

blockquote span.a, blockquote span.b { 
  font-family: helvetica, arial; font-size: 50px; color: #8ac;
}

blockquote span.a {position:absolute;top:0px;left:-10px; }
blockquote span.b {position:absolute;bottom:-20px;right:0px; height: 20px;}

blockquote.yellow { background-color: #fe7; }
blockquote.yellow span.a, blockquote.yellow span.b { color: #dc5; }

blockquote.green { background-color: #df7; }
blockquote.green span.a, blockquote.green span.b { color: #cd5; }

blockquote.comment { background-color: #f0f0f0; }
blockquote.comment span.a, blockquote.comment span.b { color: #ddd; }

blockquote.usercomment { background-color: #def; }
blockquote.usercomment span.a, blockquote.usercomment span.b { color: #8ac; }

blockquote cite {
  display: block;
  text-align: right;
}

/* @end */

/* @group Content */

#content .metadata {
  float: right;
  color: #999;
  margin: 0px;
  padding-bottom: 0px;
  line-height: 17px;  
  font-style: italic;
  font-size: 12px;
  font-family: verdana, arial, sans-serif; 
}

blockquote cite {
  font-size: 11px;
  font-family: verdana, arial, sans-serif; 
}

#comments {
  /* border-top: 4px solid #ccc; */
  margin-top: 18px;

}

#comments h3 {
  color: #44689b;
  margin-top: 0.8em;
}

#comments a:hover {
  color: #ff0000;
}

#content .metadata a {
  color: #71a3cc;
}

blockquote cite a {
  color: #888;
}

/* @end */


/* @group Fixes */
.floatcontainer:after {
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}
	
.floatcontainer { display: inline-block; clear: both;}
.float { clear: both; }

* html #content {
  height: 1%;
}

/* @end */

/* @group Misc */

p.message {
  background-color: #eee;
  padding: 8px;
  border: 1px solid #999;
  margin-bottom: 14px;
}

.rubyred {
  font-weight: bold;
  color: #c00;
}

#comments textarea {
width: 500px; height: 220px;
}

#captcha_display sup {
   display: none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#captcha_display {
  background-color: #c00;
  color: #fff;
  font-size: 24px;
  padding: 12px;
  width: 280px;
  height: 24px;
  border: 1px solid #000;
  text-align: center;
  letter-spacing: 5px;
}

h1 a { color: #c00; }

/* @end */

/* @group Sites */

body.rubyflowfr .rubyred { color: #c00; }

body.rubyflowfr a { color: #2266bb; }
body.rubyflowfr a:hover { color: #ff0000; }
body.rubyflowfr .entry a:visited { text-decoration: none; }

body.rubyflowfr #header {
	position: fixed;
	bottom: 0;
	width: 100%;
	border: none;
	background: none;
	z-index: 1;
}

body.rubyflowfr #header h1 a {
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/images/logo.png) no-repeat;
	width: 220px;
	height: 65px;
	position: absolute;
	right: 10px;
	bottom: 1px;
}

body.rubyflowfr #header #stuff {
	background: #c00;
	color: #fff;
	padding: 10px 5px;
}

body.rubyflowfr #header #stuff a {
	color: #fff;
}

body.rubyflowfr #page {
	padding-bottom: 20px;
}

body.rubyflowfr #sidebar {
	border-top: 1px solid #ddd;
}

body.rubyflowfr #sidebar div {
	float:left;
	margin-right:10px;
	width: 190px;
}

/* @end */
