<h1>Bienvenue</h1>

<% if logged_in? %>
	<p>Vous êtes loggé en tant que <%=h current_user.login %></p>
	<%= "*** Vous êtes admin ***" if admin? %>

<% else %>
  <p>Vous n'êtes pas loggé.</p>
<% end %>
